- name: Disk cron setup
  hosts: web
  become: yes

  tasks:

    - name: Install cron package
      ansible.builtin.package:
        name: cronie
        state: present

    - name: Start cron service
      ansible.builtin.service:
        name: crond
        state: started
        enabled: yes

    - name: Copy disk script to slave
      ansible.builtin.copy:
        src: /home/ec2-user/Shell/Roboshop/Disc_ustilization.sh
        dest: /home/ec2-user/Disc_ustilization.sh
        mode: "0755"

    - name: Create log file
      ansible.builtin.file:
        path: /var/log/disk.log
        state: touch

    - name: Remove old cron job
      ansible.builtin.cron:
        name: "Disk utilization check"
        state: absent

    - name: Add correct cron job
      ansible.builtin.cron:
        name: "Disk utilization check"
        minute: "*"
        job: "/bin/bash /home/ec2-user/Disc_ustilization.sh >> /var/log/disk.log 2>&1"

