- name: Disk usage cron setup
  hosts: web
  become: yes

  tasks:

    - name: Install cron package
      ansible.builtin.package:
        name: cronie
        state: present

    - name: Enable and start cron service
      ansible.builtin.service:
        name: crond
        state: started
        enabled: yes

    - name: Create disk log file in /var
      ansible.builtin.file:
        path: /var/log/disk.log
        state: touch
        mode: "0644"

    - name: Schedule disk utilization cron job
      ansible.builtin.cron:
        name: "Disk utilization check"
        minute: "*"
        job: "/bin/bash /home/ec2-user/Shell/Roboshop/Disc_ustilization.sh >> /var/log/disk.log 2>&1"
